# macOS
._*
.DS_Store

# Executables
*.exe

# Object files
*.o
*.obj

# Static libraries
*.a
*.lib

# Shared libraries
*.so
*.dll
*.dylib

# Executable outputs (Linux/macOS)
*.out

# Debug files
*.pdb
